html, body, #app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'Pacifico', 'cursive';
}

h3 {
  margin: 0;
  text-align: center;
  justify-content: center;
}
.home {
  background-image: url(https://portfoliodan.s3-us-west-2.amazonaws.com/oceanBeach.jpg);
  max-height: 100vh;
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 5%;
}

.homebox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad {
  padding-top: 30%;
}

.hometxt {
  margin: 10px;
  color: #444444;
  text-align: center;
}

.homecover {
  border-style: solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color:#faaa8f;
  background-color:#faaa8f;
  border-width: 10px;
}
.about {
  padding-top: 2%;
  padding-bottom: 2%;
}

#portfolio {
  background-color: #fff5ee;
  padding-top: 2%;
  padding-bottom: 3%;
}

#contact {
  padding-top: 2%;
  background-color:#444444;
}

#form {
  width: 80%;
}
/*
#fff5ee 
#faaa8f
 */